* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

header {
    background-color: #02081d;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .imagen {
    width: 30%;
    background-color: antiquewhite;
    display: flex;
    outline: 2px solid rgb(253, 40, 40);
}

header img {
    object-fit: contain;
    width: 100%;
}

header .nombre{
    width: 60%;
    padding-left: 2rem;
    color: #FFF;
}

.nombre p {
    font-size: 3rem;
    font-weight: bolder;
}

.soy {
    margin-top: 5%;
    display: flex;
    font-size: 2rem;
}

#queSoy {
    color: #1cb6ee;
}

nav {
    position: sticky;
    display: flex;
    background-color: #02081d;
    color: #FFF;
    top: 0px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

nav ul li .noMostrar {
    display: none;
}

nav .titulo {
    font-weight: bolder;
    cursor: default;
    transition: 1s transform, color ease-in-out;
    display: flex;
}

nav .titulo i {
    margin-right: 15px;
    display: none;
}

nav .titulo:hover {
    color: #1cb6ee;
    transform: scale(1.05);
}

nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin: 15px 5px;
}

nav ul li a {
    text-decoration: none;
    padding: 12px 5px;
    color: #FFF;
    border-bottom: 0px solid #1cb6ee;
    transition: border 0.2s ease-in-out, box-shadow 1.5s ease-in-out;
}

nav ul li a:hover {
    border-bottom: 3px solid #1cb6ee;
    transition: border 0.2s ease-in-out, box-shadow 0.5s ease-in-out;
}

@media (max-width: 650px) {
    header {
        flex-direction: column; 
    }

    .nombre p {
        font-size: 1rem;
    }
    
    .soy {
        font-size: 1rem;
    }

    nav {
        position: fixed;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }

    nav ul {
        flex-direction: column;
        height: 90%;
        justify-content: space-between;
        transform: translateX(-160px);
    }

    nav ul li {
        margin: 10px 0; /* Ajusta el margen vertical entre elementos de la lista */
        background-color: #1cb6ee;
        justify-content: end;
        align-items: center;
        display: flex;
        width: 200px;
        height: 50px;
        border-radius: 50px 50px 50px 50px;
    }

    nav ul li:hover {
        width: 210px;
    }

    nav ul li a:hover {
        border-bottom: 0px solid #1cb6ee;
        transition: border 0.2s ease-in-out, box-shadow 0.5s ease-in-out;
    }
    
    nav ul li .noMostrar {
        display: inline;
        font-size: 20px;
        background-color: #FFF;
        color: #1cb6ee;
        margin-left: 50px;
        padding: 10px;
        border-radius: 50px 50px 50px 50px;
    }

    nav .titulo{
        display: none;
    }
}