.footer {
  margin-bottom: 5px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  color: white;
  opacity: 0.6;
  gap: 5px;
  transition: opacity 0.5s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.footer::before {
  content: "";
  position: absolute;
  width: 270px;
  height: 60px;
  border-radius: 100px;
  background-color: #031d31;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer i {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.1);
    color: #1db6ee;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.icons {
  display: flex;
  gap: 10px;
  font-size: 20px;
  align-items: center;
}
