.skill {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: large;
  cursor: default;
}

.skill i {
  font-size: 4rem;
  color: #f8f9fa;
  transition: transform 0.8s, text-shadow 0.3s ease-in-out;
}

.skill:hover i {
  text-shadow: 0 0 50px #1db6ee;
  transform: scale(1.2) rotateY(360deg);
}

@media screen and (max-width: 768px) {
  .skill {
    gap: 0.2rem;
  }
  .skill i {
    font-size: 2rem;
  }

  .skill span {
    font-size: 0.8rem;
  }
}
