.buttonStyle {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  color: white;
  border-radius: 100%;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.buttonStyle i {
  font-size: 1.5rem;
}
