.backgroundImage {
  width: 100%;
  min-width: 150px;
  margin: 0 3rem;
  border-radius: 1rem;
}

.container {
  width: 100%;
  min-width: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  gap: 1rem;
  color: white;
}

.divition {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.date {
  font-size: 1.2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  font-weight: bold;
  color: #1db6ee;
}

.description {
  max-height: 60vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1db6ee;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  gap: 0.5rem;
  font-weight: bold;
  text-align: center;
  transition: color 0.5s ease-in-out, background-color 0.8s ease-in-out;
  &:hover {
    color: white;
    background-color: #1db6ee;
  }
}

@media (max-width: 768px) {
  .container {
    text-align: center;
  }
  .divition {
    flex-direction: column;
  }

  .title {
    font-size: 1rem;
  }

  .date {
    font-size: 0.8rem;
    opacity: 0.8;
  }

  .subtitle {
    font-size: 0.8rem;
  }

  .container span {
    display: none;
  }
}
